In [1]:
#pip install pandas

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.__version__

'2.0.3'

In [4]:
a=pd.Series(["Anash",19,"B+"],index=(1,2,3))
print(a)

1    Anash
2       19
3       B+
dtype: object

In [5]:
semester={'sem1':{1:'august',2:'september',3:'october'},
       'sem2':{1:'january',2:'feruary',3:'march'},
         'holiday':{1:'june',2:'july',3:'november'}}

In [6]:
d=pd.DataFrame(semester,columns=['sem1','sem2','holiday'])

In [7]:
d

        sem1     sem2   holiday
1     august  january      june
2  september  feruary      july
3    october    march  november